---
export const prerender = false;

import Layout from "@layout/Layout.astro";
import { AppBar, TitleSection } from "@component/Layout";
import { Gestes } from "@component/Geste";
import {
	BatimentHeader,
	Comparaison,
	Performance,
} from "@component/Performance";
import { ComparaisonSynthese } from "@component/Performance/Comparaison";
import { getDiagnostic, getGestes, getSimulation } from "../../stores/user";

const diagnostic = getDiagnostic();
const gestes = getGestes();
const simulation = getSimulation();

if (null === diagnostic) {
	return Astro.redirect("/mon-logement");
} else if (null === simulation) {
	return Astro.redirect("/mes-gestes/projet");
}
---

<Layout title="Mon logement" bar={false}>
	<AppBar class="block md:hidden" />

	<BatimentHeader class="md:hidden" batiment={diagnostic.batiment} />

	<div class="container">
		<main class="grid gap">
			<section class="card gap">
				<TitleSection>Mes gestes</TitleSection>

				<ComparaisonSynthese
					diagnostic={diagnostic}
					simulation={simulation}
				/>

				<div class="divider"></div>

				<details class="collapse collapse-arrow">
					<summary class="collapse-title font-semibold p-0">
						Scénario de travaux
					</summary>
					<div class="collapse-content p-0 mt-8">
						<Gestes actives={gestes} />
					</div>
				</details>
			</section>

			<section class="card gap">
				<TitleSection>Mont impact</TitleSection>

				<Comparaison diagnostic={diagnostic} simulation={simulation} />
			</section>

			<section>
				<Performance
					showHeader={false}
					batiment={simulation.batiment}
					bilan={simulation.data?.bilan ?? null}
					consommations={simulation.data?.consommations ?? null}
					enveloppe={simulation.enveloppe}
					chauffage={simulation.chauffage}
					ecs={simulation.ecs}
					refroidissement={simulation.refroidissement}
					ventilation={simulation.ventilation}
					production={simulation.production}
				/>
			</section>
		</main>
	</div>
</Layout>
