---
import {
    Common,
    Chauffage,
    Ecs,
    Refroidissement,
    Ventilation,
} from "dpe-audit";
import { Section, SectionHeader } from "../Layout";
import { Tabs, TabsItem, TabsWindow } from "../Tabs";

interface Props {
    chauffage: Chauffage.IChauffage;
    ecs: Ecs.IEcs;
    ventilation: Ventilation.IVentilation;
    refroidissement: Refroidissement.IRefroidissment;
}

const { chauffage, ecs, ventilation, refroidissement } = Astro.props;
---

<Section>
    <SectionHeader title="Description des équipements" />

    <div class="grid gap-6 text-sm overflow-hidden overflow-x-auto">
        <Tabs name="description_equipements" current="chauffage">
            <TabsItem name="chauffage" title="Chauffage" />
            <TabsItem name="ecs" title="Eau chaude sanitaire" />
            <TabsItem name="ventilation" title="Ventilation" />
            <TabsItem name="refroidissement" title="Refroidissement" />
        </Tabs>

        <TabsWindow tabs="description_equipements" name="chauffage">
            <div class="overflow-hidden overflow-x-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Energie</th>
                        </tr>
                    </thead>
                    <tbody>
                        {
                            chauffage.generateurs.map((item) => (
                                <tr>
                                    <td>{item.description}</td>
                                    <td>
                                        {Common.energieToString(item.energie)}
                                    </td>
                                </tr>
                            ))
                        }
                    </tbody>
                </table>
            </div>
        </TabsWindow>

        <TabsWindow tabs="description_equipements" name="ecs">
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Energie</th>
                    </tr>
                </thead>
                <tbody>
                    {
                        ecs.generateurs.map((item) => (
                            <tr>
                                <td>{item.description}</td>
                                <td>{Common.energieToString(item.energie)}</td>
                            </tr>
                        ))
                    }
                </tbody>
            </table>
        </TabsWindow>

        <TabsWindow tabs="description_equipements" name="ventilation">
            <table class="table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {
                        ventilation.systemes.map((item) => (
                            <tr>
                                <td>
                                    {Ventilation.typeVentilationToString(
                                        item.type,
                                    )}
                                </td>
                                <td>
                                    {item.generateur_id
                                        ? ventilation.generateurs.find(
                                              (i) =>
                                                  i.id === item.generateur_id,
                                          )?.description
                                        : "-"}
                                </td>
                            </tr>
                        ))
                    }
                </tbody>
            </table>
        </TabsWindow>

        <TabsWindow tabs="description_equipements" name="refroidissement">
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {
                        refroidissement.generateurs.map((item) => (
                            <tr>
                                <td>{item.description}</td>
                            </tr>
                        ))
                    }
                </tbody>
            </table>
        </TabsWindow>
    </div>
</Section>
