---
import { Audit } from "dpe-audit";
import { Icon } from "astro-icon/components";

interface Props {
    class?: string;
    batiment: Audit.Batiment;
    adresse: Audit.Adresse;
}

const { batiment, adresse, class: className = "" } = Astro.props;
---

<div class={className}>
    <div class="md:p-4 lg:p-0 flex items-center gap-4">
        <div class="start p-4 bg-primary">
            <Icon
                class="text-white"
                name="house-building"
                width={48}
                height={48}
            />
        </div>
        <div class="center grow">
            <div class="font-semibold">
                {Audit.typeBatimentToString(batiment.type)}
            </div>
            <div class="content">
                <p>{Audit.adresseToString(adresse)}</p>
                <p>Surface : {batiment.surface_habitable} m²</p>
                <p>Année de construction : {batiment.annee_construction}</p>
            </div>
        </div>
        <div class="left grid grid-flow-col gap-4">
            <Icon class="text-primary" name="save" width={24} height={24} />
            <Icon class="text-primary" name="share" width={24} height={24} />
            <Icon class="text-primary" name="cancel" width={24} height={24} />
        </div>
    </div>
</div>
