---
import { Enveloppe } from "dpe-audit";
import {
    PerformanceMurs,
    PerformancePlanchersBas,
    PerformancePlanchersHauts,
    PerformanceBaies,
    PerformancePortes,
    PerformancePontsThermiques,
} from "dpe-audit-ui";

import { Section, SectionHeader } from "../Layout";
import { Caption } from "../Caption";
import { Tabs, TabsItem, TabsWindow } from "../Tabs";
import { DialogButton } from "../Dialog";

interface Props {
    murs: Array<Enveloppe.IMur>;
    planchers_bas: Array<Enveloppe.IPlancherBas>;
    planchers_hauts: Array<Enveloppe.IPlancherHaut>;
    baies: Array<Enveloppe.IBaie>;
    portes: Array<Enveloppe.IPorte>;
    ponts_thermiques: Array<Enveloppe.IPontThermique>;
}

const {
    murs,
    planchers_bas,
    planchers_hauts,
    baies,
    portes,
    ponts_thermiques,
} = Astro.props;
---

<Section>
    <SectionHeader title="Performance de l'enveloppe">
        <DialogButton name="performance-enveloppe" />
    </SectionHeader>

    <div class="grid gap-6 text-sm overflow-hidden overflow-x-auto">
        <Tabs name="performance_enveloppe" current="murs">
            <TabsItem name="murs" title="Murs" />
            <TabsItem name="planchers_bas" title="Planchers bas" />
            <TabsItem name="planchers_hauts" title="Planchers haut" />
            <TabsItem name="baies" title="Baies" />
            <TabsItem name="portes" title="Portes" />
            <TabsItem name="ponts_thermiques" title="Ponts thermiques" />
        </Tabs>

        <TabsWindow tabs="performance_enveloppe" name="murs">
            <div class="overflow-hidden overflow-x-auto">
                <PerformanceMurs murs={murs} class="table" />
            </div>
        </TabsWindow>

        <TabsWindow tabs="performance_enveloppe" name="planchers_bas">
            <PerformancePlanchersBas
                planchers_bas={planchers_bas}
                class="table"
            />
        </TabsWindow>

        <TabsWindow tabs="performance_enveloppe" name="planchers_hauts">
            <PerformancePlanchersHauts
                planchers_hauts={planchers_hauts}
                class="table"
            />
        </TabsWindow>

        <TabsWindow tabs="performance_enveloppe" name="baies">
            <PerformanceBaies baies={baies} class="table" />
        </TabsWindow>

        <TabsWindow tabs="performance_enveloppe" name="portes">
            <PerformancePortes portes={portes} class="table" />
        </TabsWindow>

        <TabsWindow tabs="performance_enveloppe" name="ponts_thermiques">
            <PerformancePontsThermiques
                ponts_thermiques={ponts_thermiques}
                class="table"
            />
        </TabsWindow>

        <Caption>
            <ul>
                <li class="mb-2"><b>SDEP :</b> Surface déperditive en m²</li>
                <li class="mb-2">
                    <b>U :</b> Coefficient de transmission thermique en W/m².K
                </li>
                <li><b>DP :</b> Déperditions thermiques en W/K</li>
            </ul>
        </Caption>
    </div>
</Section>
