---
import { Audit } from "dpe-audit";
import {
    ClasseEnergie,
    Comparaison as Table,
    ComparaisonItem as Row,
    ClasseClimat,
} from "dpe-audit-ui";
import { Chip } from "../Chip";

interface Props {
    origin: Audit.Audit;
    target: Audit.Audit;
}

const { origin, target } = Astro.props;
---

<Table title="Bilan">
    <Row name="Etiquette énergie">
        <ClasseEnergie
            slot="origin"
            class="w-[28px] inline-block"
            etiquette_energie={origin.data?.etiquette_energie}
        />
        <ClasseEnergie
            slot="target"
            class="w-[28px] inline-block"
            etiquette_energie={target.data?.etiquette_energie}
        />
    </Row>

    <Row name="Etiquette climat">
        <ClasseClimat
            slot="origin"
            class="w-[28px] inline-block"
            etiquette_climat={origin.data?.etiquette_climat}
        />
        <ClasseClimat
            slot="target"
            class="w-[28px] inline-block"
            etiquette_climat={target.data?.etiquette_climat}
        />
    </Row>

    <Row name="Consommation finale">
        <Chip
            slot="origin"
            class="primary"
            value={origin.data?.cef}
            compare={target.data?.cef}
        >
            {origin.data?.cef?.toFixed() ?? "-"}
        </Chip>

        <Chip
            slot="target"
            class="secondary"
            value={target.data?.cef}
            compare={origin.data?.cef}
        >
            {target.data?.cef?.toFixed() ?? "-"}
        </Chip>
    </Row>

    <Row name="Consommation primaire">
        <Chip
            slot="origin"
            class="primary"
            value={origin.data?.cep}
            compare={target.data?.cep}
        >
            {origin.data?.cep?.toFixed() ?? "-"}
        </Chip>

        <Chip
            slot="target"
            class="secondary"
            value={target.data?.cep}
            compare={origin.data?.cep}
        >
            {target.data?.cep?.toFixed() ?? "-"}
        </Chip>
    </Row>

    <Row name="Emissions de CO2">
        <Chip
            slot="origin"
            class="primary"
            value={origin.data?.eges}
            compare={target.data?.eges}
        >
            {origin.data?.eges?.toFixed() ?? "-"}
        </Chip>

        <Chip
            slot="target"
            class="secondary"
            value={target.data?.eges}
            compare={origin.data?.eges}
        >
            {target.data?.eges?.toFixed() ?? "-"}
        </Chip>
    </Row>
</Table>
