---
import { Audit } from "dpe-audit";
import { Section, SectionHeader } from "../Layout";
import { DialogButton } from "../Dialog";
import Bilan from "./Bilan.astro";
import ConsommationsEnergie from "./ConsommationsEnergie.astro";
import ConsommationsUsage from "./ConsommationsUsage.astro";
import Deperditions from "./Deperditions.astro";
import Performances from "./Performances.astro";

interface Props {
    origin: Audit.Audit;
    target: Audit.Audit;
    class?: string;
}

const { origin, target, class: className = "" } = Astro.props;
---

<Section>
    <SectionHeader title="Comparaison">
        <DialogButton name="comparaison" />
    </SectionHeader>

    <Bilan origin={origin} target={target} />

    <ConsommationsUsage origin={origin} target={target} />

    <ConsommationsEnergie origin={origin} target={target} />

    <Deperditions origin={origin} target={target} />

    <Performances origin={origin} target={target} />
</Section>
