---
import { Audit } from "dpe-audit";
import { ClasseClimat, ClasseEnergie } from "dpe-audit-ui";
import { Icon } from "astro-icon/components";

interface Props {
    class?: string;
    value: Audit.AuditCollectionItem;
}

const { value, class: className = "" } = Astro.props;
---

<a
    href="/mon-audit"
    class:list={[
        "audit block border border-color border-3 bg-white rounded-md",
        className,
    ]}
>
    <div class="grid gap-6 p-4">
        <div class="flex gap-2 items-center">
            <div class="grow font-semibold">
                {Audit.typeBatimentToString(value.batiment.type)}
            </div>
            <ClasseClimat
                etiquette_climat={value.data?.etiquette_climat}
                class="w-[24px]"
            />
            <ClasseEnergie
                etiquette_energie={value.data?.etiquette_energie}
                class="w-[24px]"
            />
        </div>
        <div class="flex gap-2 items-center">
            <p class="grow">
                {Audit.adresseToString(value.adresse)}
                </br>
                Surface habitable : {value.batiment.surface_habitable} m²
                </br>
                Année de construction : {value.batiment.annee_construction}
            </p>
            <div class="btn btn-circle btn-ghost">
                ->
            </div>
        </div>
    </div>
</a>
