---
import { type Ressource } from "../../data/ressources.ts";

interface Props extends Ressource {}

const { titre, description, url, img } = Astro.props;
---

<a
    href={url}
    target="_blank"
    class="border border-color border-3 rounded-md flex items-center px-4 py-6 gap-6"
>
    <div
        class="grow flex flex-col md:flex-row gap-6 items-start md:items-center"
    >
        <img src={img} alt={titre} loading="lazy" class="w-[120px] h-auto" />

        <div class="grow">
            <h3 class="text-lg font-semibold">
                {titre}
            </h3>
            <p class="text-sm">{description}</p>
        </div>
    </div>

    <div class="text-2xl text-primary text-nowrap">-></div>
</a>
